<html>
<head>
	<title>Justice Hub Support Console</title>
	
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/jquery-ui/jquery-ui.min.css" />
	<link rel="stylesheet" href="/webjars/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
	
</head>
<body>
	
	<div class="container"><br/>
		<div class="alert alert-success">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		  <strong>Success!</strong> It is working as we expected.
		  <p>Welcome to <span th:text="${appName}">Our App</span></p>
		</div>
	</div>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-ui/jquery-ui.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/datatables/js/dataTables.dataTables.min.js"></script>
	<script src="/webjars/bootbox/bootbox.js"></script>
	<script src="/webjars/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

</body>
</html>